.App {
  text-align: center;
  justify-content: center;
  background-color: #250c34;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  align-items: center;
  height: 15vmin;
}

.App-header {
  background-color: #250c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Reg{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

button, input { font-size: 15px; color: red;}

